.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.title {
  margin-bottom: 1em;
  font-size: 3em;
}

.form {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: minmax(100px, max-content) auto;
}

.form input[type="url"] {
  padding: 15px 30px;
  border-radius: 10px 0 0 10px;
  border: none;
  font-size: 2em;
  color: rgb(var(--foreground-rgb));
  background-color: var(--input-bg-color);
}

.form input[type="url"]:focus {
  outline: none !important;
  box-shadow: 0 0 10px #d1d1d1;
}

.form button {
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 0 10px 10px 0;
  border: none;
  background-color: var(--btn-bg-color);
  cursor: pointer;
  font-size: 2em;
  color: rgb(var(--foreground-rgb));
}

.form button:hover,
.form button:focus {
  background-color: var(--btn-bg-hover-color);
}

.message {
  background-color: #e07373;
  border-radius: 5px;
  border: 2px solid #810d0d;
  border-left-width: 5px;
  margin-top: 2em;
  display: block;
  padding: 15px 30px;
  width: 100%;
}

.shortlink-wrap {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding: 2em;
  margin-top: 2em;
  background-color: #eeeeee;
  border-radius: var(--border-radius);
}

.shortlink-field {
  display: flex;
  align-items: center;
  position: relative;
}

.shortlink-field input {
  padding: 10px 20px;
  border-radius: 10px 0 0 10px;
  border: none;
  font-size: 1.2em;
  color: rgb(var(--foreground-rgb));
  background-color: var(--input-bg-color);
  border: 1px solid #e3e3e3;
  border-right: none;
}

.shortlink-field input:focus {
  outline: none !important;
  box-shadow: 0 0 10px #d1d1d1;
}

.shortlink-field button {
  padding: 10px 20px;
  border-radius: 0 10px 10px 0;
  border: none;
  font-size: 1.2em;
  background-color: var(--input-bg-color);
  cursor: pointer;
  border: 1px solid #e3e3e3;
}

.qrcode {
  max-width: 100%;
  height: auto;
}

.message:empty,
.shortlink:empty {
  display: none;
}

.tooltip {
  background: #333;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  font-size: 13px;
  border-radius: 4px;
  display: none;
  margin-bottom: 10px !important;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(33%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 34ch;
}

/* Loader (https://codepen.io/nobuakihonma/pen/dYbqLQ) */
.loader {
  height: 32px;
  width: 32px;
  -webkit-animation: loader-1 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  animation: loader-1 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}
@-webkit-keyframes loader-1 {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes loader-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: auto;
  margin: auto;
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 50%;
  -webkit-animation: loader-2 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  animation: loader-2 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}
@-webkit-keyframes loader-2 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
  }
  50% {
    -webkit-transform: translate3d(24px, 0, 0) scale(0.5);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
  }
}
@keyframes loader-2 {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
  }
  50% {
    transform: translate3d(24px, 0, 0) scale(0.5);
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
  }
}
.loader::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: auto;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 50%;
  -webkit-animation: loader-3 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  animation: loader-3 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}
@-webkit-keyframes loader-3 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
  }
  50% {
    -webkit-transform: translate3d(-24px, 0, 0) scale(0.5);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
  }
}
@keyframes loader-3 {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
  }
  50% {
    transform: translate3d(-24px, 0, 0) scale(0.5);
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
  }
}
.loader span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 32px;
  width: 32px;
}
.loader span::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: auto;
  right: 0;
  margin: auto;
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 50%;
  -webkit-animation: loader-4 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  animation: loader-4 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}
@-webkit-keyframes loader-4 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
  }
  50% {
    -webkit-transform: translate3d(0, 24px, 0) scale(0.5);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
  }
}
@keyframes loader-4 {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
  }
  50% {
    transform: translate3d(0, 24px, 0) scale(0.5);
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
  }
}
.loader span::after {
  content: "";
  display: block;
  position: absolute;
  top: auto;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 50%;
  -webkit-animation: loader-5 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  animation: loader-5 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}
@-webkit-keyframes loader-5 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
  }
  50% {
    -webkit-transform: translate3d(0, -24px, 0) scale(0.5);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
  }
}
@keyframes loader-5 {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
  }
  50% {
    transform: translate3d(0, -24px, 0) scale(0.5);
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile and Tablet */
@media (max-width: 1023px) {
  .main {
    padding: 1rem;
  }

  .title {
    font-size: 2em;
  }

  .shortlink-wrap {
    flex-direction: column;
    align-items: center;
  }

  .shortlink-field {
    margin-bottom: 2em;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }
}

@media (prefers-color-scheme: dark) {
}
